@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    --clr-light-cyan:  hsl(193, 38%, 86%);
    --clr-neon-green : hsl(150, 100%, 66%);
    /* Neutral */
    --clr-grayish-blue : hsl(217, 19%, 38%);
    --clr-dark-grayish-blue : hsl(217, 19%, 24%);
    --clr-dark-blue : hsl(218, 23%, 16%);

}

body,
p,
h1,
h2,
h3 {
    margin : 0;
    padding: 0;
    font-family : 'Poppins', sans-serif;
}

body {
    background : var(--clr-dark-blue);
}

.container {
    max-width : 1440px;
    margin : 50vh auto;
    background : var(--clr-dark-grayish-blue);
}

.advice-section {
    border-radius : 20px;
    position : relative;
}

.advice-text {
    animation : fadeIn 1s ease-in;
}

.advice {
    text-align : center;
    max-width : 75%;
    margin : 0 auto;
    padding : 50px;
}

.advice-mobile {
    display : none;
}

.advice-title {
    color : var(--clr-neon-green);
    font-weight : 500;
    letter-spacing: 0.15em;
    font-size : 10px;
}

.advice-underline {
    text-align : center;
}

.advice-btn {
    border-radius : 50%;
    padding : 10px;
    background : var(--clr-neon-green);
    cursor : pointer;
    position : absolute;
    bottom : -40px;
    right : 20vw;
}

@keyframes fadeIn {
    0% {
        opacity : 0;
    }

    100% {
        opacity : 1;
    }
}

@media (max-width : 767px) {
    .container {
        max-width : 375px;
    }

    .advice-desktop {
        display : none;
    }
}